<!DOCTYPE html>
<html  ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic Learn Frame</title>
    <link href="../../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/ynedut_main.css" rel="stylesheet">
</head>
<body>
<div class="bar bar-header bar-calm">
    <button class="button button-clear button-stable icon ion-ios-arrow-left"></button>
    <h2 class="title">
        第8周星期3(12.24)
        <span class="ion ion-arrow-down-b"></span></h2>
    <button class="button button-clear button-stable icon ion-ios-arrow-right"></button>
</div>
<ion-content class="content has-header">
    <div class="list">
        <div class="item item-lesson-left item-button-right item-button-two" ng-controller="PopupCtrl">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">1</h1>
                    <p>上午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-energized button-radius" ng-click="showPopup()">
                提醒
            </button>
            <button class="button button-stable button-radius">
                已点名
            </button>

        </div>

        <div class="item item-lesson-left item-button-right">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">2</h1>
                    <p>上午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-calm button-radius">
                点名
            </button>
        </div>

        <div class="item item-lesson-left item-button-right">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">3</h1>
                    <p>上午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-calm button-radius">
                点名
            </button>
        </div>

        <div class="item item-lesson-left item-button-right">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">1</h1>
                    <p>下午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-calm button-radius">
                点名
            </button>
        </div>

        <div class="item item-lesson-left item-button-right">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">2</h1>
                    <p>下午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-calm button-radius">
                点名
            </button>
        </div>

        <div class="item item-lesson-left item-button-right">
            <div class="lesson-wrap">
                <div class="lesson-wrap-content text-center">
                    <h1 class="calm">3</h1>
                    <p>下午</p>
                </div>
            </div>
            <h2><strong>大学语文</strong></h2>
            <p>2015级计算机1班</p>
            <button class="button button-calm button-radius">
                点名
            </button>
        </div>

    </div>
</ion-content>
<div class="bar bar-footer bar-light">
    <button class="button button-clear button-stable icon ion-reply"></button>
    <button class="button button-clear button-stable icon ion-refresh"></button>
</div>
<script src="../../lib/ionic/js/angular/angular.min.js"></script>
<script src="../../lib/ionic/js/jquery.min.js"></script>
<script src="../../lib/ionic/js/moment.min.js"></script>
<script src="../../js/ionic.js"></script>
<!-- ionic/angularjs js -->
<script src="../../lib/ionic/js/ionic.bundle.js"></script>
<script id="popup-template.html" type="text/ng-template">

</script>
</body>
</html>