<ion-view ng-controller="chooseLessonsCtrl" class="choose-lessons">
    <div class="fullscreen-box">
        <!--有底部 开始-->
        <div class="screen-content">
            <div class="screen-content-header">
                <div class="list cllist-header">
                    <div class="item item-button-right item-right-long">
                        <p class="date">2014-3-1至2014-3-5</p>
                        <h2>2014-2015学年第一学期</h2>
                        <button class="button button-calm">
                            当前学期
                        </button>
                    </div>
                </div>
            </div>
            <div class="center-tips">你还没有进行选课</div>
            <div class="screen-content-footer">
                <p>
                    <label>已选课学分：<span>3</span></label>
                    <label>已选课数量：<span>3</span></label>
                    <button class="button button-sm button-calm button-outline">要求</button>
                </p>
                <button class="button button-calm button-sm button-block">选课</button>
            </div>
        </div>
        <!--有底部 结束-->


        <!--开发人员注意-->
        <!--没有底部 开始 暂时注释 其实只多加了一个类nopadding-bottom，同时删除了底部内容-->
        <!--<div class="screen-content nopadding-bottom">-->
            <!--<div class="screen-content-header">-->
                <!--<div class="list cllist-header">-->
                    <!--<div class="item item-button-right item-right-long">-->
                        <!--<p class="date">2014-3-1至2014-3-5</p>-->
                        <!--<h2>2014-2015学年第一学期</h2>-->
                        <!--<button class="button button-calm">-->
                            <!--下学期-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="center-tips">选课未开始</div>-->
        <!--</div>-->
        <!--没有底部 结束 暂时注释-->
    </div>
</ion-view>