<ion-view  ng-controller="classFormCtrl" class="">
    <ion-spinner class="screen-center" ng-if="!isOver"></ion-spinner>
    <div ng-style="{'opacity':'{{isOver?0:1}}'}">
    <ion-content class="content-bc">
        <div class="header-bt-text bar margin-top">
            <ul>
                <li class="text" ng-bind="submitObj.itemName"></li>
                <li class="content" ng-if="submitObj.remark">
                    <!--加 open 显示更多--><span  class="{{isOpen?'help-inline open':'help-inline'}}" ng-bind="submitObj.remark"></span>
                    <a href="" class="pos-link" ng-click="isOpen=!isOpen">{{isOpen?'收起':'全部'}}</a>
                </li>
            </ul>
            <div class="buttons buttons-icon-20" ng-click="returnClassGrade()">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <ion-list class="list list-text-rt-lt list-item-height-50">
            <ion-item class="item no-hover">
                <div class="text-center">
                    <button class="{{submitObj.scoreType==0?'button button-ssm button-calm':'button button-ssm button-outline button-calm'}}" ng-click="submitObj.scoreType=0;submitObj.score=0;submitObj.itemScore = submitObj.baseScore">加分</button>
                    <button class="{{submitObj.scoreType==1?'button button-ssm button-calm':'button button-ssm button-outline button-calm'}}" ng-click="submitObj.scoreType=1;submitObj.score=0;submitObj.itemScore = submitObj.baseScore">扣分</button>
                </div>
            </ion-item>
            <ion-item class="item no-hover">
                <ul class="clearfix">
                    <li class="">
                        <i class="{{submitObj.scoreType==0?(submitObj.score<=submitObj.addBeginScore?'ion-android-remove-circle calm disabled':'ion-android-remove-circle calm'):(submitObj.score<=submitObj.delBeginScore?'ion-android-remove-circle calm disabled':'ion-android-remove-circle calm')}} "  ng-click="isAddScore(-1)"></i>
                        <div class="center-text"><input type="text" ng-model="submitObj.score" ng-blur="changeScore()"><span>分</span></div>
                        <i class="{{submitObj.scoreType==0?(submitObj.score>=submitObj.addEndScore?'ion-android-add-circle calm disabled':'ion-android-add-circle calm'):(submitObj.score>=submitObj.delEndScore?'ion-android-add-circle calm disabled':'ion-android-add-circle calm')}}"  ng-click="isAddScore(1)"></i>
                    </li>
                </ul>
            </ion-item>
            <ion-item ng-click="openName()">
                <ul class="list-pos-wrap margin-top-5">
                    <li>
                        影响班级考核学生({{submitObj.stuIdList.length}})
                        <div class="left-wrap margin-top-5">
                            <button class="btn-label theme btn-label-wd-105 margin-right-5" ng-repeat="item in submitObj.stuInfoList track by $index" ng-if="$index<4" title="item.name">{{item.name.length>4?item.name.substring(0,3)+'...':item.name}}</button>
                            <span ng-repeat="item in submitObj.stuInfoList track by $index" ng-if="$index==4">...</span>
                        </div>
                        <div class="right-wrap">
                            <i class="icon ion-ios-arrow-right no-space"></i>
                        </div>
                        <span class="content" ng-if="submitObj.moraleduCreditExamineItemId != null && submitObj.convertCreditCheckWay==1 && submitObj.stuInfoList.length > 0">注 :将自动在学生个人操行分的“<span class="text-danger">
                            {{submitObj.moraleduCreditExamineItemName}}
                        </span>”上<span class="text-danger">{{submitObj.convertCreditType == 0 ? "加":"扣"}}{{submitObj.convertCreditScore}}分</span> </span>
                    </li>
                </ul>
            </ion-item>
            <ion-item class="item">
                <div  web-uploader on-uploader-change="getDfsIds(data)" init-files="submitObj.fastDfsIds" options="options"></div>
            </ion-item>
            <ion-item class="item no-hover">
                <textarea maxlength="1000" class="form-control textarea-border textarea-wd height-60" ng-model="submitObj.scoreDesc" placeholder="填写描述"></textarea>
            </ion-item>
        </ion-list>
        <div class="fullscreen-box" style="margin-top: 100px;" ng-if="emptyInfo">
            <div class="screen-center">
                <p ng-bind="dataErrorMsg"></p>
                <p class="dark" ng-click="doRefresh()">单击刷新</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="">
        <div class="pos-btn-bt">
            <button class="button button-ssm button-outline button-calm" ng-click="returnLastPage()">取消</button>
            <button class="button button-xlg button-calm" ng-click="submitScore()">保存评分({{submitObj.itemScore}}分)</button>
        </div>
    </ion-footer-bar>
    <!--<ion-footer-bar class="">-->
        <!--<button class="button button-clear button-stable icon ion-reply" ng-click="returnLastPage()"></button>-->
        <!--<button class="button button-clear button-stable icon ion-refresh" ng-click="doRefresh()"></button>-->
    <!--</ion-footer-bar>-->
    <!--选择学生-->
    <script id="student.html" type="text/ng-template">
        <div class="modal modal-btm modal-amt-left" style="">
            <ion-header-bar class="bar bar-head bar-muted">
                <div class="pos-header-box pos-icon-rt">
                    <i class="input-left-icon ion-android-search"></i>
                    <input type="text" class="form-control radius-input border-radius-20" ng-model="someOneShowName.searchClassStu" placeholder="姓名/别名/学号">
                    <i class="right-icon ion-ios-close-outline" ng-if="isCloseIcon" ng-click="closeIconClick()"></i>
                </div>
            </ion-header-bar>
            <ion-content style="bottom: 44px;">
                <ion-list class="list-click-icon">
                    <ion-item class="touch-area item-checkbox-ion" ng-click="changeChecked($index)" ng-repeat="item in classStudent track by $index">
                        <div class="wd-100 font-size-14">
                            <i class="icon-checkbox ion-android-radio-button-off" ng-class="{'active':item.checked}"></i>
                            {{item.number}}
                        </div>
                    </ion-item>
                </ion-list>
                <div class="fullscreen-box" ng-if="emptyInfoStu">
                    <div class="screen-center">
                        <div class="img-no-data"></div>
                        <p ng-bind="dataErrorMsgStu"></p>
                        <p class="dark" ng-click="doRefresh2()">单击刷新</p>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar>
                <div class="pos-btn-bt">
                    <button class="button button-sm padding-rt-lt button-outline button-calm" ng-click="closeName()">取消</button>
                    <button class="button button-sm padding-rt-lt button-calm" ng-click="submitClassStu()">完成({{stuCheckedNum}})</button>
                </div>
            </ion-footer-bar>
        </div>
    </script>
    <!--选择学生-->
    </div>
</ion-view>