<!--选择考核项目-->
<ion-view class="moralityMeasurement-wrap" ng-controller="selectClassExamineProject">
    <ion-header-bar class="bar-calm">
        <span class="pos-header-title">选择考核项目</span>
        <div class="pos-header-box pos-icon-rt">
            <i class="input-left-icon ion-android-search"></i>
            <input type="text" class="form-control radius-input border-radius-20" placeholder="搜索编号/名称/字母" ng-model="itemCode">
            <i class="right-icon ion-ios-close-outline"></i>
        </div>
    </ion-header-bar>
    <ion-content class="content-bc content-col-two" scroll="false">
        <div class="left-fixed bc-white border-right">
            <ion-scroll style="height: 100%;">
                <ul class="row-one-list">
                    <li class="row-one-item" ng-class="{'active':item.selected}" ng-click="queryPatrolClassItem(item)" ng-repeat="item in classItems">{{item.typeNumber+item.checkItemName}}</li>
                </ul>
            </ion-scroll>
        </div>
        <div class="right-auto">
            <ion-scroll style="height: 100%;">
                <ion-list class="examine-list-wrap" ng-if="classCheckItem.length > 0">
                    <ion-item class="examine-list-item"  ng-click="classPatrolAct(item)" ng-repeat="item in classCheckItem">
                        <div class="pos-box-wrap right-icon">
                            <div class="box-wrap padding-left-0">
                                <span class="box-name">{{item.itemNumber+item.itemName}}</span>
                                <span class="box-times">{{item.remark}}</span>
                            </div>
                            <div class="right-box">
                                <i class="ion-ios-arrow-forward"></i>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                <div class="fullscreen-box" ng-if="classCheckItem.length == 0">
                    <div class="screen-center">
                        <div class="img-no-data"></div>
                        <p>没有可选考核项目！</p>
                        <a class="text-muted" href="javascript:void()" ng-click="refreshAll()">刷新重试</a>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-outline button-xlg button-calm" ng-click="lastStep()">上一步</button>
        <button class="button button-outline button-calm" ng-click="showClassListModal()"> 已选{{selectedClass.length}}个班级&nbsp;<i class="ion-arrow-down-b"></i></button>
    </ion-footer-bar>
    <!--浮动框——已选的班级-->
    <div class="buttom-pop buttom-pop-mini arrow animate-if direction-left" ng-show="classListShow">
        <div class="modal-list-wrap">
            <ul class="list-wrap height-overflow-200 border-radius-10" ng-if="selectedClass.length > 0">
                <li class="list-item item-right-icon" ng-repeat="item in selectedClass">{{item.name}}<i class="ion-close" ng-click="unSelected($index)"></i></li>
            </ul>
            <ul class="list-wrap height-overflow-200" ng-if="selectedClass.length ==  0">
                <li class="text-center no-content">
                    <h5>没有选择的班级！</h5>
                </li>
            </ul>
        </div>
    </div>
    <!--浮动框——已选的班级-->
</ion-view>
<!--选择考核项目-->