<!--班级情况统计 应到学生-->
<ion-view class="achievement teacher" ng-controller="classYdStudentCtrl">
    <ion-content>
        <ion-list class="examine-list-wrap" ng-show="!emptyInfo">
            <ion-item class="examine-list-item"ng-repeat="item in stuList">
                <div class="pos-box-wrap">
                    <div class="img-box">
                        <img  ng-src="{{item.headUrl}}" alt="" ng-if="item.headUrl">
                        <img  src="img/userface_0.png" alt="" ng-if="!item.headUrl&&item.gender == 1">
                        <img  src="img/userface_1.png" alt="" ng-if="!item.headUrl&&item.gender == 2">
                    </div>
                    <div class="box-wrap box-text-one padding-right-0">
                        <span class="box-name" ng-bind="item.name"></span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="fullscreen-box" ng-show="!emptyInfo&&!isExistStu">
            <div class="screen-center">
                <div class="img-no-data"></div>
                <p class="">没有学生信息</p>
            </div>
        </div>
        <div class="fullscreen-box" ng-show="emptyInfo">
            <div class="screen-center">
                <div class="img-no-data"></div>
                <p class="" ng-bind="dataErrorMsg"></p>
                <div class=" text-muted" ng-click="doRefresh()">单击重试</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="">
        <button class="button button-clear button-stable icon ion-reply" ng-click="doBack()"></button>
        <button class="button button-clear button-stable icon ion-refresh" ng-click="doRefresh()"></button>
    </ion-footer-bar>
</ion-view>