<!--课堂考勤统计-->
<ion-view  class="achievement teacher">
    <ion-header-bar align-title="center" class="bar-ynedut">
        <ion-header-bar align-title="center" class="bar-ynedut">
            <div class="row">
                <div class="col">
                    <div class="header-dropdown dropdown header-zdy">
                        <div class="dropdown-toggle" data-toggle="dropdown">课堂考勤统计<i class="ion-arrow-down-b"></i></div>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">电子商务2014级2班（春季招生）</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ion-header-bar>
    </ion-header-bar>
    <ion-content>
        <div align-title="center" class="bar-ynedut header-has-cwrap">
            <div class="row no-space">
                <div class="col col-50 no-space">
                    <div class="header-dropdown dropdown bor-rt">
                        <p class="dropdown-btn dropdown-toggle" data-toggle="dropdown">电子商务2014级2班（春季招生）<i class="ion-arrow-down-b"></i></p>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">电子商务2014级2班（春季招生）</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-50 no-space">
                    <div class="header-dropdown dropdown">
                        <p class="dropdown-btn dropdown-toggle" data-toggle="dropdown">2014-01-01<i class="ion-arrow-down-b"></i></p>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">2014-01-03</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="padding-5"><label class="margin-right-10">日期：2016-03-15</label>星期一</div>
            <!--遍历列表区域-->
            <div>
                <div class="padding-5">
                    <label class="margin-right-10">下午第一节</label>
                    <label class="margin-right-10">语文</label>
                    <label class="margin-right-10">张三、李四</label>
                    <label>A栋101</label>
                </div>
                <ion-list class="list list-wrap list-text-wrap">
                    <ion-item class="list-item-sty bor-c font-size-12">
                        <strong class="text-wrap"><span class="text-title">应到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">实到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">请假：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">缺席：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">迟到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">早退：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">按时到：</span><span class="text-area">50</span></strong>
                    </ion-item>
                </ion-list>
            </div>
            <div>
                <div class="padding-5">
                    <label class="margin-right-10">下午第二节</label>
                    <label class="margin-right-10">数学（实）</label>
                    <label class="margin-right-10">王五</label>
                    <label>A栋101</label>
                </div>
                <ion-list class="list list-wrap list-text-wrap">
                    <ion-item class="list-item-sty bor-c font-size-12">
                        <strong class="text-wrap"><span class="text-title">应到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">实到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">请假：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">缺席：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">迟到：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">早退：</span><span class="text-area">50</span></strong>
                        <strong class="text-wrap"><span class="text-title">按时到：</span><span class="text-area">50</span></strong>
                    </ion-item>
                </ion-list>
            </div>
            <!--遍历列表区域-->
        </div>
    </ion-content>
    <ion-footer-bar class="">
        <button class="button button-clear button-stable icon ion-reply"></button>
        <button class="button button-clear button-stable icon ion-refresh"></button>
    </ion-footer-bar>
</ion-view>