<!--学生出勤查看-->
<ion-view class="achievement">
    <ion-content>
        <ion-list class="list list-wrap">
            <ion-item class="list-item-sty list-item-mg">
                <div class="row">
                    <div class="col col-75">
                        <p>张三 （小张，1233532323）</p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="list-item-sty list-item-mg">
               <div class="row">
                 <div class="col col-75">
                     <p>张三 （小张，1233532323）</p>
                 </div>
                   <div class="col">
                       <a href="">查看原因</a><i class="ion-arrow-down-b"></i>
                   </div>
               </div>
            </ion-item>
            <ion-item class="list-item-sty list-item-mg">
                <div class="row">
                    <div class="col col-75">
                        <p>张三 （小张，1233532323）</p>
                    </div>
                    <div class="col">
                        <a href="">查看原因</a><i class="ion-arrow-up-b"></i>
                    </div>
                </div>
                <ion-list class="list list-wrap">
                    <ion-item class="list-item-sty bor-c">
                        <p><strong>请假时间：</strong>03-03 08:00:00 至 03-03 20:00:00</p>
                        <p><strong>请假原因：</strong>请事假，家里有事，需要回家！</p>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="list-item-sty list-item-mg">
                <div class="row">
                    <div class="col col-75">
                        <p>张三 （小张，1233532323）</p>
                    </div>
                    <div class="col">
                        <a href="">查看原因</a><i class="ion-arrow-up-b"></i>
                    </div>
                </div>
                <ion-list class="list list-wrap list-text-wrap">
                    <ion-item class="list-item-sty bor-c">
                        <p><strong>处分类型：</strong> 警告</p>
                        <p><strong>处分日期：</strong> 2016-03-08 至 2016-03-18</p>
                        <p><strong>处分原因：</strong> 打架！打架！打架！打架！打架！打架！打架！打架！打架！打架！打架！打架！打架！</p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="">
        <button class="button button-clear button-stable icon ion-reply"></button>
        <button class="button button-clear button-stable icon ion-refresh"></button>
    </ion-footer-bar>
</ion-view>