<ion-view ng-controller="AchievementDetailCtrl">
    <ion-content class="content content-bc">
        <div class="list defined-list epistle-layout">
            <div class="item epistle-box-item">
                <div class="row">
                    <div class="col">
                        <h2 class="ws-normal text-line-height"><strong>[系统消息]</strong>关于学校骨干网络升级光纤万兆完成通知</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="epistle-title text-muted">
                            <span class="help-inline margin-right-10">11-09</span>
                            <span class="help-inline margin-right-10">15-43</span>
                            <span class="help-inline ">管理员</span>
                        </div>
                        <div class="epistle-body">
                            <h3 class="text-line-height ws-normal">
                                核心交换机完成升级，骨干网实现万兆互联。由于此次升级较大，网络技术部相关同事已全面测试，请放心使用，如有问题请及时联系网络技术部。给各位家人工作带来的不便，敬请谅解。感谢各位家人长期对网络技术部工作的理解支持，网络技术部竭诚为各位家人做好服务、保障及支持工作，谢谢！
                            </h3>
                        </div>
                        <div class="epistle-footer">
                            <div class="row">
                                <div class="col">
                                   <div class="clearfix epistle-img-pr">
                                       <h2 class="epistle-pr-text pull-right"><strong>依能学院教务处</strong></h2>
                                       <div class="epistle-img-pa">
                                           <img src="img/usertemp.jpg" alt=""/>
                                       </div>
                                   </div>
                                </div>
                            </div>
                            <div class="">
                                <i class="ion ion-android-attach margin-right-10"></i><span class="help-inline">附件7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item content-bc">
                <div class="row">
                    <div class="col col-10">
                        <i class="ion ion-android-attach pull-right"></i>
                    </div>
                    <div class="col">
                        <h3>5543541321321121.jpg</h3>
                        <span class="help-block">156KB</span>
                    </div>
                    <div class="col col-10"><!--点击事件写在这个标签上-->
                        <i class="ion ion-ios-cloud-download-outline"></i>
                    </div>
                </div>
            </div>
            <div class="item content-bc">
                <div class="row">
                    <div class="col col-10">
                        <i class="ion ion-android-attach pull-right"></i>
                    </div>
                    <div class="col ellipsis-nowrap">
                        <h3>关于学校骨干网络升级光纤万兆完成通知.jpg</h3>
                        <span class="help-block">156KB</span>
                    </div>
                    <div class="col col-10">
                        <i class="ion ion-ios-cloud-download-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <button class="button button-clear button-stable icon ion-reply"></button>
        <button class="button button-clear button-stable icon ion-refresh"></button>
    </div>
</ion-view>