<!--教室搜索-->
<ion-view class="classroom-classify">
    <ion-header-bar class="pos-list-header bar-calm">
        <div class="classify-header">
            <div class="input-pos-icon">
                <i class="input-left-icon" ng-class="{'ion-android-search': !isLoading, 'ion-ios-loop-strong': isLoading}"></i>
                <input type="text" class="form-control radius-input border-radius-20" ng-model="conditions.className" ng-change="changeQueryVal(conditions.className)">
                <i class="ion-ios-close-outline pos-right" ng-click="cleanQueryVal()" ng-if="conditions.className"></i>
            </div>
            <div class="search-text">
                找到{{classRoomList.length}}条匹配结果
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="content-bc">
        <!--搜索教室列表-->
        <div class="search-content" ng-if="classRoomList && classRoomList.length > 0">
            <ul class="classroom-list-group">
                <li class="classroom-list-item" ng-repeat="item in classRoomList" ng-bind="item.name" ng-click="selectClassRoom(item)"></li>
            </ul>
        </div>
        <!--搜索教室列表-->
        <!--没有您搜索的教室-->
        <div class="fullscreen-box" ng-if="classRoomList && classRoomList.length == 0">
            <div class="screen-center">
                <div class="img-no-data"></div>
                <p ng-if="tips.isNoData">没有相关教室</p>
                <p ng-if="tips.isError">加载教室失败</p>
                <p class="help-block" ng-click="refreshAndRetry()">刷新试试</p>
            </div>
        </div>
        <!--没有您搜索的教室-->
    </ion-content>
    <ion-footer-bar>
        <button class="button button-sm button-calm button-outline" ng-click="cancle()">取消</button>
    </ion-footer-bar>
</ion-view>