<!--教室分类-->
<ion-view class="classroom-classify">
    <ion-header-bar class="pos-list-header">
        <div class="classify-header">
            <div class="classify-title">搜索教室</div>
            <div class="content-box input-pos-icon">
                <input type="text" class="form-control radius-input border-radius-20 input-border"
                       placeholder="输入教室名称查找" ng-click="searchByName()">
                <i class="ion-android-search pos-left"></i>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="content-bc">
        <ion-list class="classify-list ">
            <ion-item class="classify-item">
                <div class="classify-title">按分类查找教室</div>
                <!--有分类-->
                <div class="content-box text-left" ng-if="classRoomTypeList && classRoomTypeList.length > 0">
                    <button class="button button-calm" ng-repeat="item in classRoomTypeList"
                            ng-bind="item.dictName" ng-click="searchByType(item)"></button>
                </div>
                <!--有分类-->
            </ion-item>
            <!--无分类-->
            <div class="fullscreen-box" ng-if="classRoomTypeList && classRoomTypeList.length == 0">
                <div class="screen-center">
                    <div class="img-no-data"></div>
                    <p ng-if="tips.isNoData">没有教室分类</p>
                    <p ng-if="tips.isError">加载分类失败</p>
                    <p class="help-block" ng-click="refreshAndRetry()">刷新试试</p>
                </div>
            </div>
            <!--无分类-->
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-sm button-calm button-outline" ng-click="cancle()">取消</button>
    </ion-footer-bar>
</ion-view>