<!--授课计划-->
<ion-view class="lessons-plan-wrap" ng-class="{'weekly-list-display':!weekList||weekList.length==0}">
    <div class="header-weekly-list ">
       <div class="dropdown-wrap bar-first border-bottom">
           <div class="dropdown">
               <p class="dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{saveTKResultRegisterVO.showValueName.courseName}}<span class="help-inline">（{{selectTeachClassName}}）</span>
                   <i class="ion-arrow-down-b" ng-if="!isOnly"></i>
               </p>
               <ul class="dropdown-menu" ng-if="!isOnly">
                   <li  ng-class="{'active':selectTeachClassId == item.id}" ng-click="clickTeachClass(item)" ng-repeat="item in teachClassList"><a href="">{{saveTKResultRegisterVO.showValueName.courseName}}<span class="help-inline">（{{item.name}}）</span></a></li>
               </ul>
           </div>
       </div>
        <div class="header-content">
           <ul class="week-list-group clearfix">
               <li class="week-item" ng-class="{'active':week==selectWeek}" ng-click="clickWeek(week)" ng-repeat="week in weekList  track by $index"><span ng-bind="week">{{week}}</span><span ng-bind="'第'+week+'周'">第2周</span></li>

           </ul>
       </div>
        <div class="header-bottom-box">
            <span class="course-number">课次</span>
            <span>教学内容</span>
        </div>
    </div>
    <ion-content class="content-top">
       <ul class="simulate-tab-list">
           <li class="simulate-tab-item" ng-repeat="studyPlan in studyPlanList">
               <div class="left-number text-center" ng-bind="studyPlan.classTime"></div>
               <div class="center-content" ng-click="clickContent(studyPlan)" ng-bind="studyPlan.teachContent">

               </div>
               <div class="right-box">
                   <button class="button button-mini  button-calm button-outline" ng-click="clickSelectBut(studyPlan)">选择</button>
               </div>
           </li>
           <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreDataCanBeLoaded()" immediate-check="false" distance="1%"></ion-infinite-scroll>
       </ul>
        <!--加载失败-->
        <div class="fullscreen-box" ng-if="emptyInfo" ng-click="doRefresh()">
            <div class="screen-center">
                <div class="img-no-data"></div>
                <p ng-bind="dataErrorMsg"></p>
                <a class="text-muted" href="">刷新试试</a>
            </div>
        </div>
        <!--加载失败-->
    </ion-content>
    <script id="fullScreen.html" type="text/ng-template">
        <div class="modal modal-btm" ng-click="hideModal()">
            <div class="modal-content-center">
                <h4 ng-bind="showContent"></h4>
            </div>
        </div>
    </script>
    <ion-footer-bar>
        <button class="button button-sm button-calm button-outline" ng-click="cancel()">取消</button>
    </ion-footer-bar>
</ion-view>
<!--授课计划-->