<ion-view ng-controller="ScheduleCtrl">
    <ion-header-bar class="bar bar-calm text-center header-title-sty">
        <div class="tabs defined-tabs">
            <a class="tab-item">
                待审15
            </a>
            <a class="tab-item">
                通过15
            </a>
            <a class="tab-item">
                不通过15
            </a>
            <a class="tab-item">
                已出校15
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="content-bc">
        <div class="list card defined-card ">
            <div class="item item-avatar item-button-right item-button-two">
                <img src="img/1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
                <button class="button button-sm button-calm" type="button">通过</button>
                <button class="button button-sm button-outline button-calm" type="button">不通过</button>
            </div>
            <div class="defined-item-show">
                <div class="defined-item item bor-bm">
                    <h3 class="margin-bottom-10">学习太累，学校太小，想去外面的世界看看！学习太累，学校太小，想去外面的世界看看！</h3>
                    <button class="button button-mini button-balanced" type="button">事假</button>
                    <button class="button button-mini button-balanced" type="button">出校</button>
                </div>
                <div class="defined-item item">
                    <label class="help-block">创建时间<span>05-01 10:00</span></label>
                    <label class="help-block">创建时间<span>05-01 10:00至06-12 13:00</span></label>
                    <label class="help-block">创建时间<span>05-01 10:00</span></label>
                    <label class="help-block">创建时间<span>05-01 10:00</span></label>
                </div>
            </div>
            <div class="defined-ion-drag text-center">
                <i class="ion-drag"></i>
            </div>
        </div>
        <div class="list card defined-card">
            <div class="item item-avatar item-button-right item-button-two">
                <img src="img/1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
                <button class="button button-sm button-calm" type="button">通过</button>
                <button class="button button-sm button-outline button-calm" type="button">不通过</button>

            </div>
            <div class="defined-ion-drag text-center">
                <i class="ion-drag"></i>
            </div>
        </div>
        <div class="list card defined-card">
            <div class="item item-avatar item-button-right item-button-two">
                <img src="img/1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
                <button class="button button-sm button-calm" type="button">通过</button>
                <button class="button button-sm button-outline button-calm" type="button">不通过</button>
            </div>
            <div class="defined-ion-drag text-center">
                <i class="ion-drag"></i>
            </div>
        </div>
    </ion-content>
<ion-footer-bar class="">
    <button class="button button-clear button-stable icon ion-reply"></button>
    <button class="button button-clear button-stable icon ion-refresh"></button>
</ion-footer-bar>
</ion-view>