<!--创建请假类型--事假-->
<ion-view class="leave-creat content-bc">
    <div class="content">
        <div class="dialog-wrap">
            <div class="dialog-body">
                <div class="header-del"></div>
                <h3 class="text-center calm">事假</h3>
                <div class="leave-reason-content padding-top-10">
                    <p>
                        学习太累，学校太小，想去外面的世界看看，长知识，世界太大，我想去看看
                        <img src="img/chuxiao.png" alt=""/>
                    </p>
                </div>
                <div class="leave-reason-edit text-center">
                    <p class="text-muted">05-01 10:00 至 05-03 12:00</p>
                    <!--等待审核-->
                    <!--<p class="balanced">等待审核...</p>
                    <button class="button button-light button-block"><span class="calm">修改</span></button>-->
                    <!--审核不通过-->
                    <!--<p class="assertive">审核不通过，请修改</p>
                    <button class="button button-calm button-block">修改</button>-->
                    <!--审核通过，不能修改-->
                    <p class="balanced">审核通过，不能修改</p>
                    <button class="button checked button-block">修改</button>
                </div>
            </div>
        </div>
        <div class="leave-reason-add text-center fixed">
            <i class="ion ion-plus-round"></i>
        </div>
    </div>
    <div class="bar bar-footer bar-light">
        <button class="button button-clear button-stable icon ion-reply"></button>
        <button class="button button-clear button-stable icon ion-refresh"></button>
    </div>
</ion-view>