<!--销假记录-->
<ion-view class="leave-creat content-bc">
    <div class="bar bar-calm text-center header-title-sty">
        <input type="text" class="header-input text-center" placeholder="输入姓名/别名/学号"/>
    </div>
    <div class="content has-header">
        <div class="creat-wrap">
            <div class="content-body-text text-center">
                <h4 class="">没有需要销假的记录！</h4>
                <div class=" text-muted">单击重试</div>
            </div>
        </div>
    </div>
    <div class="bar bar-footer bar-light">
        <button class="button button-clear button-stable icon ion-reply"></button>
        <button class="button button-clear button-stable icon ion-refresh"></button>
    </div>
</ion-view>