<!--选择班级-->
<div class="class-patrol choose-classroom choose-grade top-fixed" ng-controller="classController">
    <div class="header-two-wrap">
        <div class="bar bar-header bar-calm">
            <div class="pos-header-box pos-icon-rt pos-text-rt">
                <!--搜索图标-->
                <i class="input-left-icon ion-android-search" ng-show="!condition.isQuery"></i>
                <!--搜索进行中图标-->
                <i class="input-left-icon ion-ios-loop-strong" ng-show="condition.isQuery"></i>
                <input type="text" class="form-control radius-input border-radius-20" placeholder="输入班级名称查找" ng-model="condition.name">
                <i class="right-icon ion-ios-close-outline" ng-show="condition.name" ng-click="clearCondition()"></i>
                <div class="right-text" ng-click="initSelectClass()">搜索</div>
            </div>
        </div>
        <div class="header-title-sty bar bar-calm bar-two">
            <div class="head-title-text padding-right-0">
                <span ng-repeat="item in gradeList"  ng-class="{'header-box-active':item.id == condition.gradeId}" ng-click="getSelectGrade(item)">{{item.name}}</span>
            </div>
        </div>
    </div>
    <!--获取的课程列表开始-->
    <ion-content class="class-patrol-content content-bar-two content-bc">
        <ion-list  ng-show="classList.length > 0 && !condition.error ">
            <ion-item class="item-button-right" ng-repeat="item in classList" ng-click="getSelectClass(item)">
                <h2>{{item.name}}</h2>
                <!--未选中-->
                <button class="button button-clear  icon "
                        ng-class="{'ion-android-radio-button-off button-stable':!item.selected,'ion-checkmark-circled button-calm':item.selected}"></button>
            </ion-item>
        </ion-list>
        <!--获取课程失败&为0开始   取消注释即可查看效果-->
        <div class="fullscreen-box content-bc" ng-show="classList.length == 0 || condition.error">
            <div class="screen-center">
                <div class="img-no-data"></div>
                <p>{{condition.title}}</p>
                <p class="dark " ng-click="doRefresh">单击刷新</p>
            </div>
        </div>
        <!--获取课程失败&为0结束-->
    </ion-content>
    <!--获取的课程列表结束-->

    <ion-infinite-scroll  ng-if="classMore" on-infinite="loadMore()"  distance="1%">
    </ion-infinite-scroll>


    <ion-footer-bar>
        <div class="footer-pos-button row">
            <div class="col col-25">
                <button class="button button-outline button-calm button-sm" ng-click="cancel()">取消</button>
            </div>
            <div class="col text-center">
                <button class="button button-calm button-theme" ng-click="overSelectClass()">完成({{length}})</button>
            </div>
            <div class="col col-20 text-center">
                <button class="button button-calm button-outline button-sm" ng-if="!isShowMoreCourse" ng-click="selectClass_view()">查看({{length}})</button>
                <button class="button button-calm button-sm" ng-if="isShowMoreCourse" ng-click="selectClass_view()"><i class="ion-close"></i></button>
            </div>
        </div>
    </ion-footer-bar>
   <!--查看班级浮动框-->
    <div class="buttom-pop buttom-pop-mini arrow animate-if" ng-show="isShowMoreCourse">
        <div class="modal-list-wrap">
            <ul class="list-wrap height-overflow-200 border-radius-10" ng-if="seleectArr.length > 0">
                <li class="list-item item-right-icon" ng-repeat="item in seleectArr track by $index">{{item.name}}<i class="ion-close" ng-click="deleteSelectClass(item)"></i></li>
            </ul>
            <ul class="list-wrap height-overflow-200 border-radius-10" ng-if="seleectArr.length  == 0">
                <li class="text-center no-content">
                    <h5>没有可选择的教室！</h5>
                </li>
            </ul>
        </div>
    </div>
   <!--查看班级浮动框-->
</div>
