<!--操行分考核  从班级中选择学生-->
<ion-view class="moralityMeasurement-wrap">
    <ion-content class="content-bc content-col-two" scroll="false">
        <div class="left-50 border-right">
            <div class="pos-header-bar">
                <span class="title-text">从班级中选择学生</span>
                <div class="dropdown border-rt dropdown-select margin-top-5" ng-click="selectGradeClick()">
                    <p class="dropdown-btn">{{selectedOrg.name ? selectedGrade.name+selectedOrg.name : selectedGrade.name + '没有系部'}}<i class="ion-arrow-down-b"></i></p>
                </div>
            </div>
            <div class="content" style="height: 100%;">
                <ion-scroll style="height: 100%;">
                    <ul class="row-one-list" ng-if="page">
                        <li class="row-one-item" ng-class="{'active': selectedAdminClass == adminClass}" ng-repeat="adminClass in adminClassList" ng-bind="adminClass.name" ng-click="selectAdminClass(adminClass)"></li>
                    </ul>
                    <ion-infinite-scroll on-infinite="loadMore()" ng-if="page && (page.number+1)  < page.totalPages" distance="1%" immediate-check="false"></ion-infinite-scroll>
                </ion-scroll>
            </div>
        </div>
        <div class="right-50 bc-white">
            <ion-scroll style="height: 100%;">
                <ion-list class="examine-list-wrap">
                    <ion-item class="examine-list-item no-margin-btm" ng-repeat="stu in searchStuList" ng-click="selectStu(stu)">
                        <div class="pos-box-wrap right-icon">
                            <div class="img-box">
                                <img ng-src="{{stu.headUrl}}" view-Head="{{stu.artworkUrl}}" alt="">
                            </div>
                            <div class="box-wrap">
                                <span class="box-name" ng-bind="stu.stuName"></span>
                                <span class="box-times" ng-bind="stu.stuNumber"></span>
                            </div>
                            <div class="right-box">
                                <i class="ion-ios-checkmark-outline" ng-class="{'calm': stu.isSelected}"></i>
                            </div>
                        </div>
                    </ion-item>

                </ion-list>
                <div class="fullscreen-box" ng-if="selectedAdminClass && searchStuList.length == 0">
                    <div class="screen-center">
                        <div class="img-no-data"></div>
                        <p>没有可选学生！</p>
                    </div>
                </div>
                <div class="fullscreen-box" ng-if="!selectedAdminClass">
                    <div class="screen-center">
                        <p>请选择班级加载学生！</p>
                    </div>
                </div>

            </ion-scroll>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="footer-pos-button row">
            <div class="col col-25">
                <button class="button button-sm button-outline button-calm" ng-click="back()">返回</button>
            </div>
            <div class="col text-center"  ng-click="showSelectedStu = !showSelectedStu">
                <button class="button button-outline button-calm">
                    已选{{selectedStuList.length}}个学生&nbsp;
                    <i ng-class="{'ion-arrow-up-b': showSelectedStu, 'ion-arrow-down-b': !showSelectedStu}" ></i>
                </button >
            </div>
            <div class="col col-33 text-right">
                <button class="button button-calm" ng-click="startCheck()">开始考核</button>
            </div>
        </div>
    </ion-footer-bar>

    <!--模态框 选择年级/系部-->
    <script id="select_grade.html" type="text/ng-template">
        <div class="modal modal-btm modal-height">
            <div class="modal-list-wrap">
                <div class="list-heading clearfix">
                    选择年级/系部
                    <span class="calm" ng-click="closeSelectGrade()">取消</span>
                </div>
                <ul class="list-wrap text-center">
                    <li class="list-item" ng-if="gradeList.length == 0">没有可选择的年级！</li>
                    <li class="list-item grade-list">
                        <span ng-class="{'active': grade == selectedGradeTemp}" ng-repeat="grade in gradeList" ng-bind="grade.name" ng-click="selectGrade(grade)"></span>
                    </li>
                    <li class="list-item" ng-class="{'active': org == selectedOrg}" ng-repeat="org in orgList" ng-click="selectOrg(org)" ng-bind="org.name"></li>
                </ul>
            </div>
        </div>
    </script>
    <!--模态框 选择年级/系部-->
    <!--浮动框——已选的学生-->
    <selected-stu-viewer></selected-stu-viewer>
    <!--浮动框——已选的学生-->
</ion-view>
<!--操行分考核  从班级中选择-->