<ion-view>
    <ion-content class="content-bg business-journal">
        <div class="list list-space">
            <div class="item item-input">
                <span class="input-label">金额</span>
                <input type="number" class="form-control"  ng-model="other.money" readonly/>
            </div>
            <div class="item item-input">
                <span class="input-label">日期</span>
                <input type="input" class="form-control"  ng-model="other.showTime" readonly/>
            </div>
            <label class="item item-input edit-input item-stacked-label">
                <span class="input-label">费用事由</span>
                <textarea name="" id="" ng-model="other.feeReason"   class="textarea" readonly></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-up-shadow">
        <div class="row">
            <div class="col btn-group-wrap text-center">
                <button class="button button-icon icon ion-reply" ng-click="goBack()"></button>
                <button class="button button-theme button-local" ng-show="showDel" ng-click="del()">删除</button>
                <button class="button button-theme button-local" ng-show="showEdit" ng-click="edit()">修改</button>
                <button class="button button-icon icon ion-refresh" ng-click="refresh()"></button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
