<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>流程处理</title>
    <link rel="stylesheet" href="../../css/pagestyle.css">
</head>
<body>
<div class="panel-default">
    <div class="panel-heading">
        <button type="button" class="button button-mini">提交</button>
        <button type="button" class="button button-mini">驳回发起人</button>
        <button type="button" class="button button-mini">驳回上一步</button>
        <button type="button" class="button button-mini">流程图</button>
        <button type="button" class="button button-mini">审批历史</button>
    </div>
    <div class="panel-body">
        <div class="form fix clearfix">
            <div class="form-group padding-bottom-5 border-bottom">
                <label class="control-label col-fix-3 rightfluid">审核意见：</label>
                <div class="col-fix-auto">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="text-center margin-bottom-10 "><strong>学生请假申请单</strong></div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">请假学生：</label>
                    <div class="col-fix-auto">
                        <label class="">张三（5431313212）</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">所属班级：</label>
                    <div class="col-fix-auto">
                        <label class="">软件开发12级1班</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">请假时间：</label>
                    <div class="col-fix-auto">
                        <label class="">2012-11-12 09:00 至  2012-11-12 12:00 </label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">请假天数：</label>
                    <div class="col-fix-auto">
                        <label class="">2</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">请假类型：</label>
                    <div class="col-fix-auto">
                        <label class="">事假</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">是否归寑：</label>
                    <div class="col-fix-auto">
                        <label class="">是</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">是否出校：</label>
                    <div class="col-fix-auto">
                        <label class="">是</label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">允许放行时间：</label>
                    <div class="col-fix-auto">
                        <label class="">2012-11-11 09:00 至  2012-11-11 12:00 </label>
                    </div>
                </div>
            </div>
            <div class="col-fix-7">
                <div class="form-group">
                    <label class="control-label col-fix-3 rightfluid">请假原因：</label>
                    <div class="col-fix-auto">
                        <label class="">家中有急事</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>