<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>流程图</title>
    <link rel="stylesheet" href="../../css/pagestyle.css">
</head>
<body>
      <div class="">
          <ul class="flowpath-group clearfix">
              <li class="flowpath-group-item begin"></li>
              <li class="flowpath-group-item already">
                  <div>发起人</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item active">
                  <div>审批人</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item">
                  <div>车辆管理员</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item">
                  <div>驾驶员</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item">
                  <div>发起人确定</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item">
                  <div>归档</div>
                  <img src="../../img/user.jpg" alt=""/>
              </li>
              <li class="flowpath-group-item end"></li>
          </ul>
      </div>
</body>
</html>