<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>审批历史</title>
    <link rel="stylesheet" href="../../css/pagestyle.css">
</head>
<body>
    <div class="fix">
        <ul class="list-group">
            <li class="list-group-item item-heading"><h5>审批历史</h5></li>
            <li class="list-group-item">
                <label class="control-label col-fix-3 rightfluid">德育处审批：</label>
                <div class="col-fix-auto">
                    <label class="margin-right-5">张三（张三1）</label>
                    <label class="margin-right-5">2015-11-11 11:15:11 </label>
                    <label class="">同意出校</label>
                </div>
            </li>
            <li class="list-group-item">
                <label class="control-label col-fix-3 rightfluid">班主任审批：</label>
                <div class="col-fix-auto">
                    <label class="margin-right-5">张三（张三1）</label>
                    <label class="margin-right-5">2015-11-11 11:15:11 </label>
                </div>
            </li>
            <li class="list-group-item">
                <label class="control-label col-fix-3 rightfluid">学生提交申请：</label>
                <div class="col-fix-auto">
                    <label class="margin-right-5">张三（张三1）</label>
                    <label class="margin-right-5">2015-11-11 11:15:11 </label>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>